[submodule "plugins/embroidery-viewer"]
	path = plugins/embroidery-viewer
	url = https://github.com/enverbisevac/commander-plugin-embroidery.git
[submodule "plugins/sevenzip-packer"]
	path = plugins/sevenzip-packer
	url = https://github.com/enverbisevac/commander-plugin-sevenzip-packer
[submodule "plugins/containers-fs"]
	path = plugins/containers-fs
	url = https://github.com/enverbisevac/commander-plugin-containers-fs.git
[submodule "plugins/csv-viewer"]
	path = plugins/csv-viewer
	url = https://github.com/enverbisevac/commander-plugin-csv-viewer.git
