[submodule "plugins/embroidery-viewer"]
	path = plugins/embroidery-viewer
	url = https://github.com/enverbisevac/commander-plugin-embroidery.git
[submodule "plugins/sevenzip-packer"]
	path = plugins/sevenzip-packer
	url = https://github.com/enverbisevac/commander-plugin-sevenzip-packer
[submodule "plugins/containers-fs"]
	path = plugins/containers-fs
	url = https://github.com/enverbisevac/commander-plugin-containers-fs.git
[submodule "plugins/csv-viewer"]
	path = plugins/csv-viewer
	url = https://github.com/enverbisevac/commander-plugin-csv-viewer.git
[submodule "plugins/sqlite-viewer"]
	path = plugins/sqlite-viewer
	url = https://github.com/enverbisevac/commander-plugin-sqlite-viewer.git
[submodule "plugins/diskimage-fs"]
	path = plugins/diskimage-fs
	url = https://github.com/enverbisevac/commander-plugin-diskimage-fs.git
[submodule "plugins/zip-extras-packer"]
	path = plugins/zip-extras-packer
	url = https://github.com/enverbisevac/commander-plugin-zip-extras-packer.git
[submodule "plugins/archive-fs"]
	path = plugins/archive-fs
	url = https://github.com/enverbisevac/commander-plugin-archive-fs.git
[submodule "plugins/github-actions-viewer"]
	path = plugins/github-actions-viewer
	url = https://github.com/enverbisevac/commander-plugin-github-action-viewer.git
